{% extends 'header.html' %}
{% block content %}
{% load static %}
	<div class="pres_card_display">
		<div class="flip-card">
	      <div class="flip-card-inner">
	        <div class="flip-card-front">
	          <img src="{% static 'NFT/Card/Isaiah Hartenstein_front.png' %}" alt="Front" class="image_player">
	        </div>
	        <div class="flip-card-back">
	          <img src="{% static 'NFT/Card/Isaiah Hartenstein_back.png' %}" alt="Back" class="image_player">
	        </div>
	    </div>
	</div>
	    <div class="flip-card">
	      <div class="flip-card-inner">
	        <div class="flip-card-front">
	          <img src="{% static 'NFT/Card/Luka Doncic_front.png' %}" alt="Front" class="image_player">
	        </div>
	        <div class="flip-card-back">
	          <img src="{% static 'NFT/Card/Luka Doncic_back.png' %}" alt="Back" class="image_player">
	        </div>
	    </div>
	</div>
	    <div class="flip-card">
	      <div class="flip-card-inner">
	        <div class="flip-card-front">
	          <img src="{% static 'NFT/Card/Kevin Durant_front.png' %}" alt="Front" class="image_player">
	        </div>
	        <div class="flip-card-back">
	          <img src="{% static 'NFT/Card/Kevin Durant_back.png' %}" alt="Back" class="image_player">
	        </div>
	    </div>
	</div>
	    <div class="flip-card">
	      <div class="flip-card-inner">
	        <div class="flip-card-front">
	          <img src="{% static 'NFT/Card/Giannis Antetokounmpo_front.png' %}" alt="Front" class="image_player">
	        </div>
	        <div class="flip-card-back">
	          <img src="{% static 'NFT/Card/Giannis Antetokounmpo_back.png' %}" alt="Back" class="image_player">
	        </div>
	    </div>
		</div>
	    <div class="flip-card">
		      <div class="flip-card-inner">
		        <div class="flip-card-front">
		          <img src="{% static 'NFT/Card/Paul George_front.png' %}" alt="Front" class="image_player">
		        </div>
		        <div class="flip-card-back">
		          <img src="{% static 'NFT/Card/Paul George_back.png' %}" alt="Back" class="image_player">
		        </div>
		    </div>
		</div>
	</div>

	<div class="block_A">
		<div class="Text_A">
			<h1>What is NBaller ?</h1>
			<p>It's a mix between a fantasy league and a NTF collection. Show that you are the strongest by choosing the NBA player who will make the best score #NBL of the night. If the player is a TOP 10 of the night then a unique animated card of your player with his stats of the night will be created. </p>
			<p>To ensure that your card is unique, it will be integrated into the NFT etherum system. All the cards will be dropped at the end of the season. You will be able to sell, buy or trade cards on the OpenSea platform. Follow us on discord, instagram or open sea</p>
			<div class="button_os" style="display : flex; justify-content: space-around; width : 70%; margin: auto;">
				<div class="OS_button"><a class = "OS_text" target="_blank" href="https://opensea.io/collection/nball-cards">Reach Open SEA</a></div>
				<div class="OS_button"><a class = "OS_text" target="_blank" href="https://discord.gg/v3Dd9gGG">Reach Discord</a></div>
				<div class="OS_button"><a class = "OS_text" target="_blank" href="https://www.instagram.com/nball_off">Reach Instagram</a></div>
			</div>
			
		</div>
	</div>
	
	<div class="block_B">
		<div class="Text_B">
			<h1>How NBA points has been calculed</h1>
			<p>#NBL points is calculed every day according to the performance of the players: his shots, points, rebounds, passes, steals, blocks and even his lost balls. And since a player is nothing without his team, a win/loss bonus will be applied to the final score</p>
			<div class="Calcul_pts">
				<div class="image_pts"><img src="{% static 'NFT/Card/Devin Booker_back.png' %}" style=" width:48%;">
			<img src="{% static 'NFT/Card/Devin Booker_front.png' %}" style=" width:48%;">
			</div><p class="bold"> 49 points + 10 assists + 4 rebounds + 1 block + 3 steals - 0 turnovers + 16 successful shots - 9 missed shots + boxscore  </p><p class="bold">=</p><p class="bold" style="font-size:40px; color: #a855f7;">88 NBP</p>
			</div>
			<p>Every day NBALLER receives the top 10 and creates 1 NFT of each according to its ranking</p>
			<div class="presentoire_template">
				<div class="image_presentoire">
					<img src="{% static 'NFT/Or.png' %}" style=" width:90%;">
					<p class="bold">RANK #1     </p>
				</div>
				<div class="image_presentoire">
					<img src="{% static 'NFT/Argent.png' %}" style=" width:90%;">
					<p class="bold">RANK #2 </p>
				</div>
				<div class="image_presentoire">
					<img src="{% static 'NFT/Bronze.png' %}" style=" width:90%;">
					<p class="bold">RANK #3 </p>
				</div>
				<div class="image_presentoire">
					<img src="{% static 'NFT/Blue.png' %}" style="width:90%;">
					<p class="bold">RANK #4-10</p>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="block_A">
		<div class="Text_A">
			<h1>ROADMAP</h1>
			
			<h2>Phase #1 Watch and enjoy</h2>
			<p>- Wait until the end of the season of the NBA (19/06) </p>
			<p>- React on Discord and Instagram</p>
			<p>- Follow the top 10 score of the night</p>

			<h2>Phase #2 Launching collection</h2>
			<p>- Creation of 10 cards for each match-day (168 days x 10 cards = 1680 items)  </p>
			<p>- Opening of the minting the 21/06 </p>

			<h2>Phase #3 Next season</h2>
			<p>- Make a site where we can bet for the MVP of the night </p>
			<p>- All the result of the year will be cumulate</p>
			<p>- Reward for players of the week/mount/season </p>
			
		</div>
	</div>

{% endblock %}